@{
    ViewData["Title"] = "Order";
}


<div class="row m-3 p-3">
    <div class="col-md-12 mb-0 mt-0 mr-auto ml-auto">
        <div class="card">
            <ul class="list-group ">
                <li class="bg-dark list-group-item m-0 p-0">
                    <div class="row">
                        <div class="col-md-2">

                            <div class="text-info m-2">
                                Mostava
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-white m-2">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td>Item</td>
                                            <td>Price</td>
                                            <td>Amount</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Fol - eskandrani bldy</td>
                                            <td>3.5</td>
                                            <td>2</td>
                                        </tr>
                                    </tbody>
                                </table>
                          
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="text-info m-2">

                                <h6 class="d-inline">Total:</h6><p class="d-inline"> 20</p><h6 class="d-inline"> LE</h6>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <div class="input-group pr-3 m-1">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input value="Checked" readonly class="form-control" />
                            </div>

                        </div>
                    </div>
                </li>
                
            </ul>

        </div>
    </div>
</div>